.banner {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35vw;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid rgb(56, 68, 77);

  &__wrapper {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.2rem;
    margin-right: 1.5rem;

    .banner__navigation {
      .banner__logo {
        margin-left: 3rem;
        cursor: pointer;
      }
      .navbar__items {
        list-style: none;
        padding: 0 1.1rem;
        .navbar__item {
          padding: 0.8rem 0.6rem;
          margin-bottom: 2px;

          &:hover:not(.navbar__button) {
            background-color: #162d40;
            border-top-right-radius: 35px;
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            border-bottom-left-radius: 35px;
            cursor: pointer;
          }

          &:hover .navbar__span {
            color: #1b7bb8;
          }

          &:hover .navbar__icon-comp {
            color: #1b7bb8;
          }
          &-link {
            color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            padding: 0 1.3rem;
            margin: 0.2 0;

            .navbar__span {
              margin-left: 16px;
              transition: all 0.2s;
            }

            .navbar__icon {
              display: flex;

              .navbar__icon-comp {
                align-self: center;
                transition: all 0.2s;
              }
            }
          }

          .navbar__tweet-button {
            background-color: rgb(29, 161, 242);
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none;
            padding: 0.8rem 5.5rem;
            border-radius: 4rem;
            margin-top: 2rem;
          }
        }

        .navbar__button {
          margin-top: 2rem;
          transition: all .4s;

          &:hover a{
            background-color: rgb(25, 147, 218);
          }
        }
      }
    }

    .navbar__profile {
      padding: 0.7rem 1.6rem;
      margin-bottom: 0.5rem;
      transition: all 0.2s;
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:hover {
        background-color: #162d40;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
        cursor: pointer;
      }

      &-left {
        display: flex;
        color: #fff;

        .navbar__profile-pic {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }

        .navbar__profile-username {
          display: flex;
          flex-direction: column;
          margin-left: 0.5rem;

          .navbar__profile-username-l1 {
            font-size: 15px;
            font-weight: 700;
          }
          .navbar__profile-username-l2 {
            font-size: 15px;
            font-weight: 400;
            color: #8899a6;
          }
        }
      }

      &-right {
        .nav__profile-dots {
          cursor: pointer;
        }
      }
    }
  }
}
