.main {
  flex-basis: 25vw;
  border-right: 1px solid rgb(56, 68, 77);
  display: flex;

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;


    .main__homepage {
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      border-bottom: 1px solid rgb(56, 68, 77);

      .main__homepage-text {
        font-size: 20px;
        color: #fff;
        font-weight: 800;
        cursor: pointer;
      }

      .main__homepage-stars {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;

        &:hover {
          background-color: #162d40;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
