.widgets-trending {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(25, 39, 52);
    padding: 12px 16px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid rgb(56, 68, 77);

    &-text {
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 24px;
    }

    &-settings {
      padding-top: 6px;
      align-self: flex-start;
      padding-top: 3px;
      padding-right: 0.6rem;
    }
  }

  &__show-more {
    padding: 1.2rem 0;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(25, 39, 52);

    &:hover {
      background-color: #202e3a;
      cursor: pointer;
    }
    &-span {
      color: #1da1f2;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
