.widgets-searchbar {
    display: flex;
    align-items: center;
    background-color: #253341;
    padding: 0.4rem 1.2rem;
    border-radius: 4rem;

    &:focus-within {
      border: 1px solid #1b7bb8;
      background-color: transparent;
    }

    &:focus-within &__icon { 
      color: #1b7bb8 !important;
    }

    &__input {
      background-color: transparent;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      outline-style: none;

      &::placeholder {
        color: #8899a6;
      }
    }
  }